.trackStatus{
    font-family: "Nunito", sans-serif;
    color: #3d3693;   
}

.card{
    width: 250px;
}


    .thanksText{
        font-size: 20px;
        color: #3d3693;
        font-family: "Nunito", sans-serif;
    }

    .contactText{
        color:#e1436f;
        font-family: "Nunito", sans-serif;
    }


